<div th:fragment="footer">
    <footer class="footer pt-5 pb-5 text-center">
        <div class="container">
            <p>
                <span class="credits font-weight-bold">
                    <a target="_blank" class="text-dark"
                       href="https://www.wowthemes.net/pintereso-free-html-bootstrap-template/">
                        <u>Pintereso Bootstrap HTML Template</u> by WowThemes.net.
                    </a>
                </span>
            </p>
        </div>
    </footer>
</div>
