<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title th:text="${title}">Author - Pintereso Bootstrap Template</title>

	<script th:inline="javascript">
		// JavaScript 코드는 th:inline="javascript" 속성을 사용하여 동적 데이터를 처리할 수 있습니다.
	</script>

	<link rel="stylesheet" th:href="@{/css/app.css}">
	<link rel="stylesheet" th:href="@{/css/theme.css}">

	<script type="text/javascript">
		(function() {
			var css = document.createElement('link');
			css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
			css.rel = 'stylesheet';
			css.type = 'text/css';
			document.getElementsByTagName('head')[0].appendChild(css);
		})();
	</script>
</head>

<body>
<!-- Topbar 포함 -->
<div th:insert="~{/fragments/topbar :: topbar}"></div>

<main role="main">
	<div class="jumbotron border-round-0 min-50vh" th:style="'background-image:url(' + @{/background-image} + ');'">
	</div>
	<div class="container mb-4">
		<img th:src="@{/img/av.png}" class="mt-neg100 mb-4 rounded-circle" width="128">
		<h1 class="font-weight-bold title" th:text="${authorName}">Sal</h1>
		<p th:text="${authorDescription}">
			I love Art, Web Design, Photography, Design, Illustration
		</p>
	</div>
	<div class="container-fluid mb-5">
		<div class="row">
			<div class="card-columns">
				<div th:each="post : ${posts}" class="card card-pin">
					<img class="card-img" th:src="@{/post-image}">
					<div class="overlay">
						<h2 class="card-title title" th:text="${post.title}">Some Title</h2>
						<div class="more">
							<a th:href="@{/post/{id}(id=${post.id})}">
								<i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/theme.js}"></script>

<!-- Footer 포함 -->
<div th:insert="~{/fragments/footer :: footer}"></div>
</body>
</html>
