<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<header>
    <div th:insert="~{/fragments/mainheader::mainheader}"></div>
</header>
<body>

<!-- Topbar 포함 -->
<div th:insert="~{/fragments/topbar :: topbar}"></div>

<div th:insert="~{/fragments/detailsearch::detailsearch}"></div>

<main role="main">

    <section class="mt-4 mb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="card-columns">
                    <div class="card card-pin" th:each="movie : ${movies}">
                        <img class="card-img" th:src="${movie.poster}" alt="Card image">
                        <div class="overlay">
                            <h2 class="card-title title" th:text="${movie.movieName}">Cool Title</h2>
                            <div class="more">
                                <a th:href="@{/result/{id}(id=${movie.id})}">
                                    <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- 다른 카드들 -->
                </div>
            </div>
        </div>
    </section>

</main>

<script th:src="@{/js/app.js}"></script>
<script th:src="@{/js/theme.js}"></script>

<!-- Footer 포함 -->
<div th:insert="~{/fragments/footer :: footer}"></div>
</body>

</html>
